@charset "UTF-8";
*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

button {
  border: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1056px;
  margin: 0 auto;
}

.main-btn {
  width: 166px;
  height: 50px;
  background-color: #212B31;
  color: #fff;
  font-family: "Arial";
  font-size: 17px;
  line-height: 24px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main-btn:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
}

.min-btn {
  width: 143px;
  height: 34px;
  font-size: 15px;
  line-height: 16px;
}

.light-btn {
  width: 166px;
  height: 50px;
  background-color: transparent;
  color: #212B31;
  font-family: "Arial";
  font-size: 17px;
  line-height: 24px;
  border-radius: 4px;
  border: 1px solid #DADEDF;
}

.light-btn:hover {
  cursor: pointer;
}

.decor {
  position: relative;
  color: #212B31;
}

.decor::after {
  position: absolute;
  content: "";
  height: 50%;
  width: 100%;
  background-color: #FFD042;
  bottom: -2px;
  left: 0;
  z-index: -1;
}

.header {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 31px;
}

.header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav li {
  list-style: none;
  margin-right: 22px;
  color: #72787D;
}

.header__nav li:hover {
  color: #036FC7;
  cursor: pointer;
}

.main {
  text-align: center;
}

.main h1 {
  margin: 74px 0 30px 0;
}

.main .main-btn {
  margin-right: 16px;
}

.main img[alt="солнце над новостройками"] {
  margin: 88px 0 36px 0;
}

.features_1 {
  margin: 148px auto 142px auto;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.features__card {
  max-width: 33%;
  text-align: center;
}

.features__card img {
  width: 48px;
  height: 48px;
}

.chaos {
  text-align: center;
}

.chaos h2 {
  color: #212B31;
  font-size: 32px;
  line-height: 48px;
}

.chaos p {
  color: #72787D;
  font-size: 20px;
  line-height: 32px;
}

.chaos img {
  margin-bottom: 144px;
}

.helpers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 168px;
}

.helpers__description h2 {
  color: #212B31;
  font-size: 32px;
  line-height: 48px;
}

.helpers__description p {
  color: #72787D;
  font-size: 20px;
  line-height: 32px;
}

.helpers__description .decor {
  margin-top: 28px;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 128px;
}

.icons img {
  margin-right: 39px;
  margin-bottom: 10px;
  width: 160px;
}

.icons img:nth-child(5) {
  margin-right: 0px;
}

.about {
  margin-top: 120px;
  margin-bottom: 30px;
}

.about__text {
  text-align: center;
  margin-bottom: 28px;
}

.about__text h2 {
  color: #212B31;
  font-size: 32px;
  line-height: 48px;
}

.about__text p {
  color: #72787D;
  font-size: 20px;
  line-height: 32px;
}

.about__component {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 64px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__component .about__component__description {
  max-width: 60%;
  text-align: center;
}

.about__component .about__component__description img {
  height: 272px;
}

.about__component .about__component__description h4 {
  font-size: 18px;
  line-height: 24px;
  color: #212B31;
}

.about__component .about__component__description p {
  font-size: 16px;
  line-height: 24px;
  color: #72787D;
}

.left {
  padding-right: 60px;
}

.right {
  padding-left: 60px;
}

.delivery__cards {
  margin-top: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.delivery__cards .card {
  width: 30%;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.card img {
  height: 48px;
  width: 48px;
  margin-right: 16px;
}

.card h6 {
  font-size: 18px;
  line-height: 24px;
  color: #212B31;
  margin-bottom: 11px;
  margin-top: 0;
}

.card p {
  color: #72787D;
  font-size: 16px;
  line-height: 24px;
}

.reliable {
  margin-top: 130px;
}

.reliable .leafs {
  position: relative;
  display: inline-block;
}

.reliable img[alt="decor"] {
  position: absolute;
  top: -20px;
}

.reliable .reliable-text {
  background-color: #F6F8F9;
  margin-top: 62px;
  padding: 40px;
  min-height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
}

.reliable .reliable-text img {
  width: 40px;
  height: 40px;
}

.features_2 {
  margin-top: 50px;
}

.dark-block {
  background-color: #212B31;
  margin-top: 227px;
  position: relative;
  padding: 60px 0 201px 0;
  color: #fff;
}

.dark-block img[alt="мобильное приложение"] {
  position: absolute;
  right: 0;
}

.dark-block__content h2 {
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 54px;
}

.dark-block__content h4 {
  font-size: 18px;
  line-height: 24px;
  margin-top: 24px;
  margin-bottom: 10px;
  position: relative;
}

.dark-block__content h4::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  border-radius: 50%;
  left: -32px;
  top: 10px;
  background-color: #fff;
}

.dark-block__content p {
  font-size: 16px;
  line-height: 24px;
}

.dark-block__content .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 74px;
  margin-bottom: 127px;
}

.dark-block__content .buttons .main-btn-light {
  background-color: #fff;
  color: #212B31;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.dark-block__content .buttons .main-btn-light:hover {
  -webkit-box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.8);
          box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.8);
}

.dark-block__content .buttons .light-btn-dark {
  color: #fff;
  border: 1px solid #DADEDF;
  margin-left: 16px;
}

.how-work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
}

.how-work__question {
  max-width: 35%;
}

.how-work__question h2 {
  font-size: 32px;
  line-height: 48px;
  color: #212B31;
}

.how-work__question p {
  font-size: 20px;
  line-height: 32px;
  color: #72787D;
  margin-top: 21px;
  margin-bottom: 60px;
}

.how-work__points {
  max-width: 50%;
}

.how-work__points h4 {
  font-size: 17px;
  line-height: 24px;
  color: #212B31;
  margin-bottom: 10px;
}

.how-work__points p {
  font-size: 16px;
  line-height: 24px;
  color: #72787D;
  margin-bottom: 30px;
}

.how-work__points ol {
  list-style-type: none;
  counter-reset: point;
}

.how-work__points ol li {
  position: relative;
  max-width: 100%;
}

.how-work__points ol li:before {
  content: counter(point);
  counter-increment: point 1;
  position: absolute;
  left: -70px;
  width: 40px;
  height: 40px;
  text-align: center;
  padding-top: 10px;
  border: 1px solid #DADEDF;
  color: #72787D;
}

.why {
  margin-top: 96px;
  margin-bottom: 127px;
}

.why__wrapper {
  margin-top: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.why__wrapper .quotes {
  position: relative;
  max-width: 50%;
  height: 80%;
  padding: 45px 50px 45px 50px;
  background-color: #F6F8F9;
}

.why__wrapper .quotes img[alt="quote"] {
  position: absolute;
  top: 8%;
  left: 6%;
}

.why__wrapper .quotes h2 {
  font-size: 29px;
  line-height: 48px;
  font-weight: normal;
  margin-bottom: 28px;
  position: relative;
  z-index: 5;
}

.why__wrapper .quotes .quotes-card h6 {
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 1px;
}

.why__wrapper .quotes .quotes-card p {
  font-size: 16px;
  line-height: 19px;
  margin-top: auto;
}

.why__wrapper .quotes span {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgba(3, 111, 199, 0.2);
  margin-right: 8px;
}

.why__wrapper .quotes .blue {
  background-color: #036FC7;
}

.why__cards {
  max-width: 40%;
  display: block;
}

.why__cards .card {
  width: 100%;
}

.partners {
  margin: 0 auto;
  margin-top: 140px;
  width: 680px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.partners__card {
  margin-bottom: 40px;
  max-width: 180px;
  text-align: center;
  vertical-align: bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.partners__card span {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.partners__card p {
  font-size: 16px;
  line-height: 19px;
  color: #72787D;
}

.partners .center {
  margin: 0 auto;
}

.optima {
  margin-top: 150px;
  margin-bottom: 150px;
  height: 470px;
  padding: 117px 38px;
  background: url(../img/optimisation.png) center no-repeat;
  background-size: cover;
}

.optima h2 {
  font-size: 48px;
  line-height: 64px;
  color: #212B31;
}

.footer-main {
  margin-bottom: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-main h2 {
  font-size: 16px;
  line-height: 24px;
  color: #212B31;
  margin-bottom: 22px;
}

.footer-main p {
  font-size: 16px;
  line-height: 24px;
  color: #72787D;
  margin-bottom: 8px;
}

.bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 32px;
  padding-bottom: 32px;
  border-top: 1px solid #DADEDF;
}

.bottom p {
  font-size: 16px;
  line-height: 24px;
  color: #72787D;
}
