@import "_head";

$dark: #212B31;
$light: #72787D;
$yellow: #FFD042;
$blue: #036FC7;
*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  
}
button{
    border: none;
}
a{
    text-decoration: none;
}

.container {
  max-width: 1056px;
  margin: 0 auto;
}
.main-btn{
    width: 166px;
    height: 50px;
    background-color: $dark;
    color: #fff;
    font-family: "Arial";
    font-size: 17px;
    line-height: 24px;
    border-radius: 4px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
    transition: 0.3s;
}
.main-btn:hover{
    cursor: pointer;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
}
.min-btn{
    width: 143px;
    height: 34px;
    font-size: 15px;
    line-height: 16px;
}
.light-btn {
    width: 166px;
    height: 50px;
    background-color: transparent;
    color:$dark;
    font-family: "Arial";
    font-size: 17px;
    line-height: 24px;
    border-radius: 4px;
    border: 1px solid #DADEDF;
}
.light-btn:hover{
    cursor: pointer;
}
.decor{
    position: relative;
    color: $dark;
}
.decor::after{
    position: absolute;
    content: "";
    height: 50%;
    width: 100%;
    background-color: $yellow;
    bottom: -2px;
    left: 0;
    z-index: -1;
}


// *первый блок

.header {
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 31px;

    &__nav ul {
        display: flex;
    }
    &__nav li{
        list-style: none;
        margin-right: 22px;
        color: $light
    }
    &__nav li:hover{
        color: $blue;
        cursor: pointer;
    }
}
.main {
    text-align: center;
    h1{
        margin: 74px 0 30px 0;
    }
    .main-btn{
        margin-right: 16px;
    }
    img[alt="солнце над новостройками"]{
        margin: 88px 0 36px 0;
    }
}
// *второй блок 
.features_1{
    margin: 148px auto 142px auto;
}
.features {
    display: flex;
    justify-content: space-between;

    &__card {
        max-width: 33%;
        text-align: center;
        img{
            width: 48px;
            height: 48px;
        }
    }
}
// * третий блок
.chaos{
    text-align: center;
    h2{
        color: $dark;
        font-size: 32px;
        line-height: 48px;
    }
    p{
        color: $light;
        font-size: 20px;
        line-height: 32px;
    }
    img{
        margin-bottom: 144px;
    }
}
//  * четвертый блок 
.helpers {
    display: flex;
    margin-top: 168px;
    // .helpers__description

    &__description {
        h2{
            color: $dark;
            font-size: 32px;
            line-height: 48px;
        }
        p{
            color: $light;
            font-size: 20px;
            line-height: 32px;
        }
        .decor{
            margin-top: 28px;
        }
    }
}
.icons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 128px;
    img{
        margin-right: 39px;
        margin-bottom: 10px;
        width: 160px;
    }
    img:nth-child(5){
        margin-right: 0px;
    }
}
// * о компании

.about {
    margin-top: 120px;
    margin-bottom: 30px;
    // .about__text

    &__text {
        text-align: center;
        margin-bottom: 28px;
        h2{
            color: $dark;
            font-size: 32px;
            line-height: 48px;
        }
        p{
            color: $light;
            font-size: 20px;
            line-height: 32px;
        }
    }

    &__component {
        display: flex;
        margin-bottom: 64px;
        justify-content: space-between;
        .about__component__description{
            max-width: 60%;
            text-align: center;
            img{
                height: 272px;
            }
            h4{
                font-size: 18px;
                line-height: 24px;
                color: $dark
            }
            p{
                font-size: 16px;
                line-height: 24px;
                color: $light;
            }
        }
    }
}

.left {
    padding-right: 60px;
}
.right {
    padding-left: 60px;
}

// * о доставке

.delivery {

    // .delivery__cards

    &__cards {
        margin-top: 43px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .card{
            width: 30%;
        }
    }
}
.card {
    display: flex;
    
    margin-bottom: 30px;
    img{
        height: 48px;
        width: 48px;
        margin-right: 16px;
    }
    h6{
        font-size: 18px;
        line-height: 24px;
        color: $dark;
        margin-bottom: 11px;
        margin-top: 0;
    }
    p{
        color: $light;
        font-size: 16px;
        line-height: 24px;
    }
}
// * надежность

.reliable{
    margin-top: 130px;
        .leafs{
            position: relative;
            display: inline-block;
        }
        img[alt="decor"]{
            position: absolute;
            top: -20px;
        }
    .reliable-text {
        background-color: #F6F8F9;
        margin-top: 62px;
        padding: 40px;
        min-height: 130px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
        img{
            width: 40px;
            height: 40px;
        }
}
}

.features_2{
    margin-top: 50px;
}

// * темный блок

.dark-block {
    background-color: $dark;
    margin-top: 227px;
    position: relative;
    padding: 60px 0 201px 0;
    color: #fff;
    img[alt="мобильное приложение"]{
        position: absolute;
        right: 0;
    }
    &__content {
        
        h2{
            font-size: 32px;
            line-height: 48px;
            margin-bottom: 54px;
        }
        h4{
            font-size: 18px;
            line-height: 24px;
            margin-top: 24px;
            margin-bottom: 10px;
            position: relative;
        }
        h4::before{
            position: absolute;
            content: "";
            height: 8px;
            width: 8px;
            border-radius: 50%;
            left: -32px;
            top: 10px;
            background-color: #fff;
        }
        p{
            font-size: 16px;
            line-height: 24px;
        }
        .buttons{
            display: flex;
            margin-top: 74px;
            margin-bottom: 127px;
            .main-btn-light{
                background-color: #fff;
                color: $dark;
                transition: 0.3s;
            }
            .main-btn-light:hover{
             box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.8);   
            }
            
            .light-btn-dark{
                color: #fff;
                border: 1px solid #DADEDF;
                margin-left: 16px;
            }
        }
        
    }
}
// * как с нами работать

.how-work {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    // .how-work__question

    &__question {
        max-width: 35%;
        h2{
            font-size: 32px;
            line-height: 48px;
            color: $dark;
        }
        p{
            font-size: 20px;
            line-height: 32px;
            color: $light;
            margin-top: 21px;
            margin-bottom: 60px;
        }
    }

    // .how-work__points

    &__points {
        max-width: 50%;
        h4{
            font-size: 17px;
            line-height: 24px;
            color: $dark;
            margin-bottom: 10px;
            // margin-left: 32px;
        }
        p{
            font-size: 16px;
            line-height: 24px;
            color: $light;
            margin-bottom: 30px;
        }
        ol {
            list-style-type: none;
            counter-reset: point;
            }
            
            ol li {
            position: relative;
            max-width: 100%;
            }
            
            ol li:before {
            content: counter(point);
            counter-increment: point 1;
            position: absolute;
            left: -70px;
            width: 40px;
            height: 40px;
            text-align: center;
            padding-top: 10px;
            border: 1px solid #DADEDF;
            color:$light;
            }
    }
}

// * почему с нами работать

.why {
    margin-top: 96px;
    margin-bottom: 127px;
    &__wrapper {
        margin-top: 55px;
        display: flex;
        justify-content: space-between;
        .quotes {
            position: relative;
            max-width: 50%;
            height: 80%;
            padding: 45px 50px 45px 50px;
            background-color: #F6F8F9;
            img[alt="quote"]{
                position: absolute;
                top: 8%;
                left: 6%;
            }
            h2{
                font-size: 29px;
                line-height: 48px;
                font-weight: normal;
                margin-bottom: 28px;
                position: relative;
                z-index: 5;
            }
            .quotes-card{
                h6{
                    font-size: 16px;
                    line-height: 19px;
                    margin-bottom: 1px;
                }
                p{
                    font-size: 16px;
                    line-height: 19px;
                    margin-top: auto;
                }
            }
            span{
                display: inline-block;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: rgba(3,111,199,0.2);
                margin-right: 8px;
            }
            .blue{
                background-color: #036FC7;
            }
}
    }
    &__cards{
        max-width: 40%;
        display: block;
        .card {
            width: 100%;
        }
    }
}

// * partners

.partners {
    
    margin: 0 auto;
    margin-top: 140px;
    width: 680px;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    // .partners__card

    &__card {
        margin-bottom: 40px;;
        max-width: 180px;
        text-align: center;
        vertical-align: bottom;
        display: flex;
        flex-direction: column;
        span{
            flex-grow: 1;
        }
            p{
            font-size: 16px;
            line-height: 19px;
            color: $light;
        }
    }
    .center{
        margin: 0 auto;
    }
}
// * готов к опимизации
.optima{
    margin-top: 150px;
    margin-bottom: 150px;
    height: 470px;
    padding: 117px 38px;
    background: url(../img/optimisation.png) center no-repeat;
    background-size: cover;
    // background-color: lightblue;
    h2{
        font-size: 48px;
        line-height: 64px;
        color: $dark;
    }
}


// * футер

.footer-main{
    margin-bottom: 160px;
    display: flex;
    justify-content: space-between;
    h2{
        font-size: 16px;
        line-height: 24px;
        color: $dark;
        margin-bottom: 22px;
    }
    p{
        font-size: 16px;
        line-height: 24px;
        color: $light;
        margin-bottom: 8px;
    }
}
.bottom{
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
    padding-bottom: 32px;
    border-top: 1px solid #DADEDF;
    p{
        font-size: 16px;
        line-height: 24px;
        color: $light;
    }
}